.homepage {
    height: 100%;
    position: relative;

    .textBox {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        .title {
            font-size: 4em;
            margin-bottom: 60px;
        }

        .introduce {
            font-size: 2em;
        }
    }
}