.lifecycle {
    height: 100%;
    overflow: auto;
    
    .chart {
        border: 1px solid red;
        width: 1000px;
        height: 800px;
        margin: 0 auto;
        position: relative;
        
        $leftOffset: 50px;
        .startBox {
            position: absolute;
            top: 50px;
            left: $leftOffset;
            height: 260px;
            width: 180px;
            border: 1px solid red;
        }

        .renderBox {
            position: absolute;
            top: 50px;
            left: $leftOffset + 300px;
            text-align: center;

            .middleStateBox {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background: #000;
                margin: 2px auto 0 auto;
            }
        }

        .updateBox {
            position: absolute;
            top: 403px;
            left: $leftOffset + 510px;
            text-align: center;
        }

        .setStateBox {
            position: absolute;
            top: 100px;
            left: 710px;
            height: 40px;
            width: 180px;
            border: 1px solid red;
        }
    }
}