.lifecycle {
    height: 100%;
    overflow: auto;

    .arrowLineText {
        position: absolute;
        padding: 1px 3px;
        background: #fff;
        font-weight: bold;
        line-height: 16px;
        z-index: 9;
    }
    
    .chart {
        border: 1px solid red;
        width: 1000px;
        height: 800px;
        margin: 0 auto;
        position: relative;
        
        $circleSize: 40px;
        $leftOffset: 50px;
        .startBox {
            position: absolute;
            top: 50px;
            left: $leftOffset;

            .startState {
                margin: 0 auto;
                height: $circleSize;
                width: $circleSize;
                border: 2px solid #000;
                border-radius: 50%;
            }

            .renderArrowLine {
                position: absolute;
                top: 0;
                left: 116px;
                width: 198px;
                height: 40px;

                .text {
                    position: absolute;
                    padding: 0 3px;
                    background: #fff;
                    font-weight: bold;
                    line-height: 16px;
                }
            }
        }

        .renderBox {
            position: absolute;
            top: 50px;
            left: $leftOffset + 300px;
            text-align: center;

            .middleStateBox {
                height: $circleSize;
                width: $circleSize;
                border-radius: 50%;
                background: #000;
                margin: 2px auto 0 auto;
            }

            .setPropsArrowLine {
                position: absolute;
                bottom: 0;
                left: 108px;
                width: 124px;
                height: 40px;
            }

            .setStateArrowLine {
                position: absolute;
                bottom: -60px;
                left: 98px;
                width: 235px;
                height: 70px;

                .arrowLineWrap {
                    height: 100%;
                    transform: rotate(17deg);
                }
            }

            .shouldUpdateToMounted {
                position: absolute;
                top: 390px;
                left: 100px;

                .text {
                    top: 55px;
                    left: 62px;
                }
            }

            .mountedToWillUpdate {
                position: absolute;
                top: 395px;
                left: 90px;

                .text {
                    top: 85px;
                    left: -14px;
                }
            }

            .mountedToWillUnmount {
                position: absolute;
                top: 250px;
                left: -200px;

                .text {
                    top: 80px;
                    left: -4px;
                }
            }

            .didUpdateToMounted {
                position: absolute;
                top: 395px;
                left: 40px;
            }
        }

        .updateBox {
            position: absolute;
            top: 403px;
            left: $leftOffset + 510px;
            text-align: center;

            .shouldText {
                top: 156px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .canSetStateBox {
            position: absolute;
            top: 265px;
            left: 715px;
            font-size: 16px;
            font-weight: bold;
        }

        .canSetStateLine1 {
            position: absolute;
            top: 205px;
            left: 525px;
        }

        .canSetStateLine2 {
            position: absolute;
            top: 290px;
            left: 525px;
        }

        .canSetStateLine3 {
            position: absolute;
            top: 290px;
            left: 725px;
        }

        .canSetStateLine4 {
            position: absolute;
            top: 290px;
            left: 825px;
        }
    }
}